.h1{
  text-align: center;
    font-size: 70px;
       color: white;
}
body {
    background-color: black;
    text-align: center;
    background-size: cover;
   
   color: white;
}
.p1 {
    color: white;
    font-size: 70px;
    text-align: center;
}
.p2 {
    color: white;
    font-size: 70px;
    text-align: center;
}
   
.h2{
     color: white;
    text-align: center;
     font-size: 70px;

}
.a1 {
    display: inline-block;
    padding: 20px;
    text-align: left;
    font-size: 50px;
       color: white;
}
   
.h2{
     color: white;
    text-align: center;
     font-size: 70px;

}
.a1 {
    display: inline-block;
    padding: 20px;
    text-align: left;
    font-size: 50px;
       color: white;

}
.help {
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-left: 15 px;
    margin-left: auto;
    color: white;
    text-decoration: none;
} 
.h3{
     color: white;
    text-align: center;
     font-size: 70px;

}
.a2 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 50px;
       color: white;
}
.h4{
     color: white;
    text-align: center;
     font-size: 70px;

}
.a3 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 50px;
       color: white;
}
.a4 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-size: 50px;
       color: white;
}
.h5{
     color: white;
    text-align: center;
     font-size: 70px;

}
.h6{
     color: white;
    text-align: center;
     font-size: 70px;

}